@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste Prático</h1>
    <p class="lead">Teste prático de aplicação para cadastro de empresas e fornecedores associados a elas.</p>
    <p class="lead">Acesso pelos menus acima "Cadastro Empresas" e "Cadastros Fornecedor".</p>
</div>
